{% extends "base.html" %}

{% block title %} | Home {% endblock %}

{% block content %}
  <ul class="tabs">

    <li class="tab">
        <input type="radio" name="tabs" checked="checked" id="tab1" />
        <label for="tab1">Insulin Therapy</label>
        <div id="tab-content1" class="content">
<table>
<tr>
<th>Patient Last</th>
<th>Patient First</th>
<th>MRN</th>
<th>Current glucose</th>
<th>Target glucose</th>
</tr>

{% for insulinpatient in it %}
<tr>
    <td>{{ insulinpatient.ip_last }}</td>
    <td>{{ insulinpatient.ip_first }}</td>
    <td>{{ insulinpatient.ip_MRN }}</td>
    <td>{{ insulinpatient.ip_cg }}</td>
    <td>{{ insulinpatient.ip_tg }}</td>
</tr>
{% endfor %}
</table>
</div>
    </li>

    <li class="tab">
      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2">Non-Insulin Therapy</label>
      <div id="tab-content2" class="content">
<table>
<tr>
<th>Patient Last</th>
<th>Patient First</th>
<th>MRN</th>
<th>Current glucose</th>
<th>Target glucose</th>
</tr>
{% for noninsulinpatient in nit %}
<tr>
    <td>{{ noninsulinpatient.p_last }}</td>
    <td>{{ noninsulinpatient.p_first }}</td>
    <td>{{ noninsulinpatient.p_MRN }}</td>
    <td>{{ noninsulinpatient.p_cg }}</td>
    <td>{{ noninsulinpatient.p_tg }}</td>
</tr>
{% endfor %}
</table>
</div>
    </li>

     <li class="tab">
      <input type="radio" name="tabs" id="tab3" />
      <label for="tab3">Nurse Assignments</label>
      <div id="tab-content3" class="content">
<table>
<tr>
<th>Nurse Last</th>
<th>Nurse First</th>
<th>Unit Assignment</th>
</tr>
{% for n in nurses %}
<tr>
    <td>{{ n.n_last }}</td>
    <td>{{ n.n_first }}</td>
    <td>{{ n.n_UNIT }}</td>
</tr>
{% endfor %}
</table>
</div>
 </li>

    <li class="tab">
      <input type="radio" name="tabs" id="tab4" />
      <label for="tab4">Add new</label>
      <div id="tab-content4" class="content">
<h1>Add new item</h1>
</div>
    </li>

  </ul>
{% endblock %}
